nav a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  
  #top-bar a:hover {
    background-color: white;
  }


.gallery-name {
    text-overflow: clip;
}

.audio-player {
    width: 300px;
    margin: 20px;
}